        <% for p in @products %>
		<% for a in p.auctions.where('end_at > ?', DateTime.now.strftime("%Y-%m-%d %H:%M:%S")) %>
			<div class="col-lg-4 block<%=a.id%>">
            	<!-- Bid Ad Starts-->
                <div class="bidad">
                <span><%= image_tag a.product.cover.url(:original), width: '360', height: '148'%></span>
                <div class="bidadin">
                <h4><%= a.product.name %></h4>
                <p><%= a.product.description[1..150] %>...</p>
                
                
                <div class="btn-group btn-group-justified adopt">
					<% for t in a.product.product_types %>
                 <div class="btn-group">
                 <button class="btn btn-default" type="button"><%= t.name %></button>
                 </div>
				 <% end %>
                
                </div>
                <div class="adspec">
                 
                    <table class="table">
                    <tr>
                        <td width="9%"><img src="/frontend/img/small-icon1.png" width="20" height="20" alt=""></td>
                        <td width="36%">Form Factor:</td>
                        <td width="55%"><%= a.product.form_factor_list %></td>
                    </tr>
                    <tr>
                        <td width="9%"><img src="/frontend/img/small-icon2.png" width="20" height="20" alt=""></td>
                        <td width="36%">Time Share:</td>
                        <td width="55%"><%= a.product.time_share_list %></td>
                    </tr>
                    <tr>
                        <td width="9%"><img src="/frontend/img/small-icon3.png" width="20" height="20" alt=""></td>
                        <td width="36%">Duration:</td>
                        <td width="55%"><%= a.product.duration %> Month(s)</td>
                    </tr>
                    <tr>
                        <td width="9%"><img src="/frontend/img/small-icon4.png" width="20" height="20" alt=""></td>
                        <td width="36%">Grade:</td>
                        <td width="55%"><%= a.product.grade_list %></td>
                    </tr>
                    </table>
                </div>
                
                <div class="progbr">
                
		        <div class="counter<%=a.id%>">
		        </div><br style="clear:both"/>
                <div class="progress progress-striped">
                <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="<%= 100 -(a.end_at.to_date - DateTime.now.to_date).to_f / (a.end_at.to_date - a.start_at.to_date).to_f * 100 %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= 100 -(a.end_at.to_date - DateTime.now.to_date).to_f / (a.end_at.to_date - a.start_at.to_date).to_f * 100 %>%">
                </div>
                </div>
                </div> 
                
                <!-- Highest Bid Starts -->
                <div align="center"  class="highbid">
                	<h3><strong><%= a.current_price == 0 ? "No" : "$"+a.current_price.to_s %></strong> Highest Bid</h3>
                </div>
                <!-- Highest Bid Ends -->
                
                <!-- Place Bid Button -->
			  <button class="btn btn-primary btn-lg btn-block bidadbtn" data-toggle="modal" data-target="#myModal<%=a.id%>">
			    Place Your Bid
			  </button>
                <!-- Place Bid Button Ends -->
				  
                </div>
                </div>
                <!-- Bid Ad Ends -->
            </div>
			
			
			<script>
			$(function() {
				$(".counter<%=a.id%>").countdown({until: new Date(<%= a.end_at.strftime("%Y") %>,<%= a.end_at.strftime("%m") %>-1,<%= a.end_at.strftime("%d") %>, <%= a.end_at.strftime("%H") %>, <%= a.end_at.strftime("%M") %>),  
				    onExpiry: liftOff<%=a.id%>}); 
			});
			
			function liftOff<%=a.id%>(){
				$(".block<%=a.id%>").hide();
			}
			</script>
		  

		 <div class="modal fade" id="myModal<%=a.id%>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		   <div class="modal-dialog">
		     <div class="modal-content">
		       <div class="modal-header">
		         <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		         <h4 class="modal-title">Enter Your Bid Amount</h4>
		       </div>

	         <%= form_tag( "/bidder/create_bids/#{a.id}", :method => :post ) %>
		       <div class="modal-body">
				 	<input type="text" class="form-control" placeholder="Bid Amount (Minimum: $<%= a.min_step_price + a.current_price %>)" name="amount" />
		       </div>
		       <div class="modal-footer">
		         <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		         <input type="submit" class="btn btn-primary" value="Place Bid"/>
				 
		       </div>
			 
			 </form>
		     </div>
		   </div>
		 </div>
			<% end %>
			<% end %>