        	<% for tb in @total_bids %>
			
				<% if tb.auction.winner == current_user.id %>
				<div class="col-lg-4">
	            	<!-- Bid Ad Starts-->
	                <div class="bidad">
	                <div class="adimg">
	                <div class="daybx">
	                	<div class="roundbx">
	                	<h1>0</h1>
	                    <p>Days</p>
	                    </div>
	                </div>
	                <img src="/frontend/img/thumb.jpg" width="100%"  alt=""></div>
	                <div class="bidadin">
	                <h4 align="center"><%= tb.auction.product.name %></h4>
                
	                <div class="bidstat">
	                	<div class="ifwon"> Won</div>
	                </div>  
                
	                <div class="row bidfig">                
	                <div class="col-lg-6">

	                <h2>$<%= tb.auction.current_price %></h2>
	                <p>Highest Bid</p>
	                </div>
	                <div class="col-lg-6">
	                <h2>$<%= tb.auction.current_price %></h2>
	                <p>Your Bid</p>
	                </div>
	                <br>
	                <div class=" col-lg-12"   style="padding-top:20px; text-align:center"><span></span><img src="/frontend/img/small-icon5.png" width="20" height="20" alt=""><span><%= tb.auction.is_uploaded ? "Uploaded" : "Ad not Uploaded" %></span> &nbsp; <span></span><img src="/frontend/img/small-icon2.png" width="20" height="20" alt=""><span>3 Days Till Activation</span></div>
	                </div>
                <% if tb.auction.is_uploaded != true  %>
	              <button class="btn btn-primary btn-lg btn-block bidadbtn" data-toggle="modal" data-target="#myModal<%=tb.auction.id%>">
	  			    Submit Your Ad
	  			  </button>
				  <% end %>
	                <p align="center" style="margin-top:10px; height:20px; line-height:20px">&nbsp;</p>
	                <ul class="adtyplbl">
						<% for t in tb.auction.product.product_types %>
	                    <li><span><%= t.name %></span></li>
						<% end %>
	                </ul>
	                </div>
	                </div>
	                <!-- Bid Ad Ends -->
					
					
		   		 <div class="modal fade" id="myModal<%=tb.auction.id%>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		   		   <div class="modal-dialog">
		   		     <div class="modal-content">
		   		       <div class="modal-header">
		   		         <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		   		         <h4 class="modal-title">Upload the Ad Image</h4>
		   		       </div>

		   	         <%= form_tag( "/bidder/upload_bids_image/#{tb.auction.id}",:multipart => true, :method => :post ) %>
		   		       <div class="modal-body">
		   				 	<input type="file" class="form-control" placeholder="" name="target" />
		   		       </div>
		   		       <div class="modal-footer">
		   		         <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		   		         <input type="submit" class="btn btn-primary" value="Upload"/>
				 
		   		       </div>
			 
		   			 </form>
		   		     </div>
		   		   </div>
		   		 </div>
				</div>
				<% elsif tb.auction.end_at.to_date >= DateTime.now.to_date %>
		            <div class="col-lg-4">
		             	<!-- Bid Ad Starts-->
		                 <div class="bidad">
		                 <div class="adimg">
		                 <div class="daybx">
		                 	<div class="roundbx">
		                 	<h1><%= (tb.auction.end_at.to_date - DateTime.now.to_date).to_i %></h1>
		                     <p>Days</p>
		                     </div>
		                 </div>
		                 <img src="/frontend/img/thumb.jpg" width="100%"  alt=""></div>
		                 <div class="bidadin">
		                 <h4 align="center"><%= tb.auction.product.name %></h4>
                
		                 <div class="bidstat">
		                 	<div class="ifnot">In Progress </div>
							<% if tb.auction.bids.where(bidder_id: current_user.id).order('created_at DESC').first.bid_amount == tb.auction.current_price %>
								<div class="ifnot2">You are Ahead</div>
							<% else %>
		                     	<div class="ifnot2">You are Behind</div>
							<% end %>
		                 </div>  
                
		                 <div class="row bidfig">                
		                 <div class="col-lg-6">

		                 <h2>$<%= tb.auction.current_price %></h2>
		                 <p>Highest Bid</p>
		                 </div>
		                 <div class="col-lg-6">
		                 <h2>$<%= tb.auction.bids.where(bidder_id: current_user.id).order('created_at DESC').first.bid_amount %></h2>
		                 <p>Your Bid</p>
		                 </div>
                 
                 
		                 </div>
                		 <% if tb.auction.bids.where(bidder_id: current_user.id).order('created_at DESC').first.bid_amount != tb.auction.current_price %>
		                 <a   href="" class="btn btn-primary btn-lg btn-block bidadbtn">Revise Your Bid</a>
						 <% end %>
		                 <!--<p align="center" style="margin-top:10px; height:20px; line-height:20px"> <a href="#">Widraw Your Bid</a></p>-->
	                <p align="center" style="margin-top:10px; height:20px; line-height:20px">&nbsp;</p>
		                 <ul class="adtyplbl">
							<% for t in tb.auction.product.product_types %>
		                    <li><span><%= t.name %></span></li>
							<% end %>
		                 </ul>
		                 </div>
		                 </div>
		                 <!-- Bid Ad Ends -->
		             </div>
				
				<% else %>
					<div class="col-lg-4">
            
		                <!-- Bid Ad Starts-->
		                <div class="bidad">
		                <div class="adimg">
		                <div class="daybx">
		                	<div class="roundbx">
		                	<h1>0</h1>
		                    <p>Days</p>
		                    </div>
		                </div>
		                <img src="/frontend/img/thumb.jpg" width="100%"  alt=""></div>
		                <div class="bidadin">
		                <h4 align="center"><%= tb.auction.product.name %></h4>
                
		                <div class="bidstat">
		                	<div class="ifwon iflost"> Lost </div>
		                </div>  
                
		                <div class="row bidfig">                
		                <div class="col-lg-6">

		                <h2>$<%= tb.auction.current_price %></h2>
		                <p>Highest Bid</p>
		                </div>
		                <div class="col-lg-6">
		                <h2>$<%= tb.auction.bids.order('created_at DESC').first.bid_amount %></h2>
		                <p>Your Bid</p>
		                </div>
		                <br>
		                <div class=" col-lg-12"   style="padding-top:20px; text-align:center">
		                <span><% win_user = User.find(tb.auction.winner)%><%= win_user.first_name%> <%= win_user.last_name%> Won the Bid</span>
		                </div>
		                </div>
                
		                <p align="center" style="margin-top:10px; height:20px; line-height:20px">&nbsp;</p>
		                <ul class="adtyplbl">
							<% for t in tb.auction.product.product_types %>
		                    <li><span><%= t.name %></span></li>
							<% end %>
		                </ul>
		                </div>
		                </div>
		                <!-- Bid Ad Ends -->
                
		            </div>
				<% end %>
			<% end %>
			
			
           
           