   <%= form_tag bidder_root_path, :method => 'get', :id => "products_search" do %>
   <!-- Main Filters Section Starts-->
   <div class="filtrbx">
   		<div class="container">
        	<div class="row">
            	<div class="filtrbxin">
            	<div class="col-lg-12">
                <h3>Spot Types</h3>
                <!-- Filter Type Box -->
                <div class="fltrtypbx clearfix ">
                <div class="row">
               	  	<div id="fixed_display_spot" class="col-lg-3 adtype">
                    <h3>Fixed Display Spot</h3>
                    <p class="fltrimg"><a href="#"><img src="/frontend/img/icon1.png" width="84" height="57" alt=""></a></p>
                    <p><img id="img_fixed_display_spot" src="/frontend/img/optmark.png" width="26" height="26" alt=""></p>
                    </div>
					<%= hidden_field_tag :fixed_product_type, params[:fixed_product_type] %>
					
                    <div id="video_spot" class="col-lg-3 adtype">
                    <h3>Video Spot</h3>
                    <p class="fltrimg"><a href="#"><img src="/frontend/img/icon2.png" width="84" height="57" alt=""></a></p>
                    <p><img id="img_video_spot" src="/frontend/img/optmark.png" width="26" height="26" alt=""></p>
                    </div>
					<%= hidden_field_tag :video_product_type, params[:video_product_type] %>
                    
                    <div id="kiosk_banner_spot" class="col-lg-3 adtype">
                    <h3>Kiosk Banner Spot</h3>
                    <p class="fltrimg"><a href="#"><img src="/frontend/img/icon3.png" width="84" height="57" alt=""></a></p>
                    <p><img id="img_kiosk_banner_spot" src="/frontend/img/optmark.png" width="26" height="26" alt=""></p>
                    </div>
					<%= hidden_field_tag :kiosk_product_type, params[:kiosk_product_type] %>
                    
                    <div id="electric_spot" class="col-lg-3 adtype">
                    <h3>Electric Spot</h3>
                    <p class="fltrimg"><a href="#"><img src="/frontend/img/icon4.png" width="84" height="57" alt=""></a></p>
                    <p><img id="img_electric_spot" src="/frontend/img/optmark.png" width="26" height="26" alt=""></p>
                    </div>
					<%= hidden_field_tag :electric_product_type, params[:electric_product_type] %>
					
                </div>
                </div>
                <!-- Filter Type Box Ends -->
                
                <!-- Budget Range Starts -->
        		<div class="row">
            	<div class="col-lg-12">
                <h3>Budget Range</h3>
                <div class="fltrtypbx bgtbx clearfix ">
                <div class="row">
                	<div class="col-lg-2" align="center"><h3>$100</h3></div>
                    <div class="col-lg-8 rngbxin">
                    <!-- Range Slider -->
                    <div class="sldrbase">
                    	<div class="dragablediv clearfix">
                        	<div class="pull-left"><img class="pull-left" src="/frontend/img/adjuster.png" width="31" height="20" alt="">&nbsp;<span>$10</span></div>
                            <div class="pull-right"><span>$840</span>&nbsp;<img class="pull-right" src="/frontend/img/adjuster.png" width="31" height="20" alt=""></div>
                        </div>
                    </div>
                    </div>
                    <div class="col-lg-2" align="center"><h3>$1000</h3></div>
                </div>
                </div>
                </div>
                </div>
                <!-- Budget Rands Ends -->
                
                
                
                <!-- Duration, Locatio and Time Slot Starts -->
        		<div class="row">
            	<div class="col-lg-12">
                <div class="row">
                <h3 class="col-lg-4">Duration</h3>
                <h3 class="col-lg-4">Location</h3>
                <h3 class="col-lg-4">Time Slot</h3>
                </div> 
                <div class="row">
                
                	<div class="col-lg-4">
                    <div class=" fltrtypbx extraopt" align="center">
                    	<div class="btn-group btn-group-justified">
                          <div class="btn-group">
                            <button type="button" class="btn btn-default">Long</button>
                          </div>
                          <div class="btn-group">
                            <button type="button" class="btn btn-default">Medium</button>
                          </div>
                          <div class="btn-group">
                            <button type="button" class="btn btn-default">Short</button>
                          </div>
                        </div>
                    </div>
                    </div>
                    
                   <div class="col-lg-4">
                    <div class=" fltrtypbx extraopt" align="center">
                    	<div class="btn-group btn-group-justified">
                          <div class="btn-group">
                            <button type="button" class="btn btn-default">Preimum</button>
                          </div>
                          <div class="btn-group">
                            <button type="button" class="btn btn-default">Normal</button>
                          </div>
                          <div class="btn-group">
                            <button type="button" class="btn btn-default">Economy</button>
                          </div>
                        </div>
                    </div>
                    </div>
                    
                   <div class="col-lg-4">
                    <div class=" fltrtypbx extraopt" align="center">
                    	<div class="btn-group btn-group-justified">
                          <div class="btn-group">
                            <button type="button" class="btn btn-default">Preimum</button>
                          </div>
                          <div class="btn-group">
                            <button type="button" class="btn btn-default">Normal</button>
                          </div>
                          <div class="btn-group">
                            <button type="button" class="btn btn-default">Economy</button>
                          </div>
                        </div>
                    </div>
                    </div>
                	 
                </div>
                </div>
                </div>
                <!-- Duration, Locatio and Time Slot Starts Ends -->
                
                
                
                </div>
                </div>
            </div>
        </div>
   </div>
   <!-- Main Filters Section Ends -->
   
   <!-- Sorting Filters Starts -->
   <div class="sortbar">
    <div class="row">
    	<div class="col-lg-8 col-xs-push-2" align="center">
        <ul>
        	<li>
            <a class="sortingarrow " href="#"></a>&nbsp;<a class="sortingarrow  arrowup"   href="#"></a>
            </li>
            <li>&nbsp;</li>
            <li>Sort By:</li>
            <li><label><input  name="" type="radio"  value=""> 
            <span class="radioimg1"></span> Bid Amount</label>
            </li>
            <li>&nbsp;</li>
            <li><label><input  name="" type="radio"  value=""> 
            <span class="radioimg1"></span> Date</label>
            </li>
            <li>&nbsp;</li>
            <li><label><input  name="" type="radio"  value=""> 
            <span class="radioimg1"></span> No of Spots</label>
            </li>
            <li>&nbsp;</li>
            <li><label><input  name="" type="radio"  value=""> 
            <span class="radioimg1"></span> Time Share</label>
            </li>
            <li>&nbsp;</li>
            <li><label><input  name="" type="radio"  value=""> 
            <span class="radioimg1"></span> Duration</label>
            </li>
        </ul>
        </div>
    </div>
   </div>
   <!-- Sorting Filters Ends -->
   <% end %>
   <!-- Biding Content Starts -->
   <div class="container">
   <div class="row">
   		<div id="products" class="bidcont">
			<% if flash[:error]%>
			<div class="alert alert-danger fade in">
			      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
			      <h4><%= flash[:error]%></h4>
			</div>
			<% end %>
			
			<% if flash[:notice]%>
			<div class="alert alert-success fade in">
			      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
			      <h4><%= flash[:notice]%></h4>
			</div>
			<% end %>
        	<%= render 'ads' %>
        </div>
   </div>
   </div>
   <!-- Bidding Content Ends -->
   
   
   <script>
   $(function() {
     
     $("#products_search input").keyup(function() {
       $.get($("#products_search").attr("action"), $("#products_search").serialize(), null, "script");
       return false;
     });
	 
	 // spot
	 $("#fixed_display_spot").click(function () {
		 if ($('input[name=fixed_product_type]').val() != "on")
		 {
			 $('input[name=fixed_product_type]').val("on");
			 $('#img_fixed_display_spot').attr('src', '/frontend/img/optmark-chk.png');
		 }else
		 {
			 $('input[name=fixed_product_type]').val("off");
			 $('#img_fixed_display_spot').attr('src', '/frontend/img/optmark.png');
         
		 }
		 $.get($("#products_search").attr("action"), $("#products_search").serialize(), null, "script");
         return false;
	 });

	 $("#video_spot").click(function () {
		 if ($('input[name=video_product_type]').val() != "on")
		 {
			 $('input[name=video_product_type]').val("on");
			 $('#img_video_spot').attr('src', '/frontend/img/optmark-chk.png');
		 }else
		 {
			 $('input[name=video_product_type]').val("off");
			 $('#img_video_spot').attr('src', '/frontend/img/optmark.png');
         
		 }
         $.get($("#products_search").attr("action"), $("#products_search").serialize(), null, "script");
         return false;
	 });

	 $("#kiosk_banner_spot").click(function () {
		 if ($('input[name=kiosk_product_type]').val() != "on")
		 {
			 $('input[name=kiosk_product_type]').val("on");
			 $('#img_kiosk_banner_spot').attr('src', '/frontend/img/optmark-chk.png');
		 }else
		 {
			 $('input[name=kiosk_product_type]').val("off");
			 $('#img_kiosk_banner_spot').attr('src', '/frontend/img/optmark.png');
         
		 }
         $.get($("#products_search").attr("action"), $("#products_search").serialize(), null, "script");
         return false;
	 });

	 $("#electric_spot").click(function () {
		 if ($('input[name=electric_product_type]').val() != "on")
		 {
			 $('input[name=electric_product_type]').val("on");
			 $('#img_electric_spot').attr('src', '/frontend/img/optmark-chk.png');
		 }else
		 {
			 $('input[name=electric_product_type]').val("off");
			 $('#img_electric_spot').attr('src', '/frontend/img/optmark.png');
         
		 }
         $.get($("#products_search").attr("action"), $("#products_search").serialize(), null, "script");
         return false;
	 });
	 
	 
   });
   </script>