   <!-- Main Filters Section Starts-->
   <div class="filtrbx filtrbxinner">
   		<div class="container">
        	<div class="row">
            	<div class="filtrbxin ">
                
            	 	<div class="col-lg-3">
                    <div align="center" class=" fltrtypbx extraopt usrbidstat">
                    	 <h1><%= @total_bids.count %></h1>
                         <p>Total Bids</p>
                    </div>
                    </div>
                    
                    <div class="col-lg-3">
                    <div align="center" class=" fltrtypbx extraopt usrbidstat">
                    	 <h1><%= @open_bids%></h1>
                         <p>Open Bids</p>
                    </div>
                    </div>
                    
                    <div class="col-lg-3">
                    <div align="center" class=" fltrtypbx extraopt usrbidstat">
                    	 <h1><%= @win_bids.count %></h1>
                         <p>Bids Won</p>
                    </div>
                    </div>
                    
                    <div class="col-lg-3">
                    <div align="center" class=" fltrtypbx extraopt usrbidstat">
                    	 <h1><%= @total_bids.count - @win_bids.count - @open_bids%></h1>
                         <p>Bids Lost</p>
                    </div>
                    </div>
                    
                     
                </div>
            </div>
        </div>
   </div>
   <!-- Main Filters Section Ends -->
   
   <!-- Sorting Filters Starts -->
   <div class="sortbar">
    <div class="row">
    	<div class="col-lg-8 col-xs-push-2" align="center">
			<%= form_tag bidder_my_bids_path, :method => 'get', :id => "products_search" do %>
        <ul>
        	<li>
            <a class="sortingarrow " href="#"></a>&nbsp;<a class="sortingarrow  arrowup"   href="#"></a>
            </li>
            <li>&nbsp;</li>
            <li>Sort By:</li>
            <li><label><input  name="" type="radio"  value=""> 
            <span class="radioimg1"></span> Bid Amount</label>
            </li>
            <li>&nbsp;</li>
            <li><label><input  name="" type="radio"  value=""> 
            <span class="radioimg1"></span> Date</label>
            </li>
            <li>&nbsp;</li>
            <li><label><input  name="" type="radio"  value=""> 
            <span class="radioimg1"></span> No of Spots</label>
            </li>
            <li>&nbsp;</li>
            <li><label><input  name="" type="radio"  value=""> 
            <span class="radioimg1"></span> Time Share</label>
            </li>
            <li>&nbsp;</li>
            <li><label><input  name="" type="radio"  value=""> 
            <span class="radioimg1"></span> Duration</label>
            </li>
        </ul>
	    <% end %>
        </div>
    </div>
   </div>
   <!-- Sorting Filters Ends -->
   
   <!-- Biding Content Starts -->
   <div class="container">
   <div class="row">
   		<div id="products" class="bidcont">
			<% if flash[:error]%>
			<div class="alert alert-danger fade in">
			      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
			      <h4><%= flash[:error]%></h4>
			</div>
			<% end %>
			
			<% if flash[:notice]%>
			<div class="alert alert-success fade in">
			      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
			      <h4><%= flash[:notice]%></h4>
			</div>
			<% end %>
			<%= render 'bids' %>
			
        	
        </div>
   </div>
   </div>
   <!-- Bidding Content Ends -->
   
   <script>
   $(function() {
     
     $("#products_search input").keyup(function() {
       $.get($("#products_search").attr("action"), $("#products_search").serialize(), null, "script");
       return false;
     });
	 

	 
	 
   });
   </script>