<% content_for :content do %>
    <div class="pageheader">
      <h2><i class="fa fa-table"></i> Users Tables</h2>
      <div class="breadcrumb-wrapper">
        <span class="label">You are here:</span>
        <ol class="breadcrumb">
          <li><a href="index.html">SmartAds</a></li>
          <li class="active">Users Tables</li>
        </ol>
      </div>
    </div>
    
    <div class="contentpanel">
		<div class="panel panel-default">
			<div class="panel-body">
          <div class="table-responsive">
          <table class="table" id="table2">
              <thead>
                 <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Type</th>
                    <th>Last Sign in IP</th>
                    <th>Created Date</th>
                    <th>Actions</th>
                 </tr>
              </thead>
              <tbody>
				  <% for u in @users %>
                 <tr class="odd gradeX">
                    <td><%= u.first_name %> <%= u.last_name %></td>
                    <td><%= u.email %></td>
                    <td><%= u.user_type.name %></td>
                    <td><%= u.last_sign_in_ip %></td>
                    <td class="center"><%= u.created_at.strftime("%B %e, %Y")%></td>
                    <td class="center"><%= link_to("Edit", edit_user_path(u)) %> | <%= link_to("Delete", user_path(u), :confirm => 'Are you sure?', :method => :delete, :title => "Delete")%></td>
                 </tr>
                 <% end %>
              </tbody>
           </table>
          </div><!-- table-responsive -->
	  </div><!-- panel-body -->
	</div><!-- panel -->
        
</div><!-- contentpanel -->

<script src="js/jquery.datatables.min.js"></script>
<script>
  jQuery(document).ready(function() {
    

    jQuery('#table2').dataTable({
      "sPaginationType": "full_numbers"
    });
    
    // Chosen Select
    jQuery("select").chosen({
      'min-width': '100px',
      'white-space': 'nowrap',
      disable_search_threshold: 10
    });
    
    // Delete row in a table
    jQuery('.delete-row').click(function(){
      var c = confirm("Continue delete?");
      if(c)
        jQuery(this).closest('tr').fadeOut(function(){
          jQuery(this).remove();
        });
        
        return false;
    });
    
    // Show aciton upon row hover
    jQuery('.table-hidaction tbody tr').hover(function(){
      jQuery(this).find('.table-action-hide a').animate({opacity: 1});
    },function(){
      jQuery(this).find('.table-action-hide a').animate({opacity: 0});
    });
  
  
  });
</script>

<% end %>