<% content_for :content do %>
  <link rel="stylesheet" href="/css/jquery.tagsinput.css" />
    <div class="pageheader">
      <h2><i class="fa fa-edit"></i> Create Auction</h2>
      <div class="breadcrumb-wrapper">
        <span class="label">You are here:</span>
        <ol class="breadcrumb">
          <li><a href="index.html">SmartAds</a></li>
          <li class="active">Create Auction</li>
        </ol>
      </div>
    </div>
    
    <div class="contentpanel">
        <div class="panel-heading">
          <div class="panel-btns">
            <a href="#" class="panel-close">&times;</a>
            <a href="#" class="minimize">&minus;</a>
          </div>
          <h4 class="panel-title">Create Form</h4>
          <p>Please field in all the below blanks for creating a new auction.</p>
        </div>
		<div class="panel panel-default">
			 <div class="panel-body panel-body-nopadding">
				 <% if @auction.errors.any? %>
			   <div class="alert alert-danger">
				<% @auction.errors.full_messages.each do |msg| %><%= msg %><br/>
				    <% end %>
				</div>
				<% end %>
				<%= form_for(@auction, :as => :auction, :html => {:class => "form-horizontal form-bordered"}, :url => auctions_path) do |f| %>
	         	<%= f.hidden_field :product_id, :class => "form-control", value: params[:format] %>
	           
	            <div class="form-group">
	              <label class="col-sm-3 control-label">Start Price</label>
	              <div class="col-sm-4">
					<%= f.text_field :start_price, :class => "form-control", placeholder: "Product Price"%>
	              </div>
	            </div>
	            <div class="form-group">
	              <label class="col-sm-3 control-label">Minium Step Price</label>
	              <div class="col-sm-4">
					<%= f.text_field :min_step_price, :class => "form-control", placeholder: "Product Price"%>
	              </div>
	            </div>

	            <div class="form-group">
	              <label class="col-sm-3 control-label">Auction Start Date</label>
	              <div class="col-sm-4 input-group">
					<%= f.text_field :start_at, :class => "form-control datepicker", placeholder: 'mm/dd/yyyy'%>
					<span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
	              </div>
				  
	            </div>
	            <div class="form-group">
	              <label class="col-sm-3 control-label">Auction End Date</label>
	              <div class="col-sm-4 input-group">
					<%= f.text_field :end_at, :class => "form-control datepicker", placeholder: 'mm/dd/yyyy'%>
					<span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
	              </div>
	            </div>
	            
	            <div class="form-group">
	              <label class="col-sm-3 control-label">Status</label>
	              <div class="col-sm-4 input-group">
					<%= f.select(:status, {"On Hold" => 0, "Start" => 1}, {}, {:class => 'form-control input-sm mb15', :style => 'width:250px'})%>
					
	              </div>
	            </div>
                
	  	  	</div><!-- panel-body -->
	        <div class="panel-footer">
				 <div class="row">
					<div class="col-sm-6 col-sm-offset-3">
					  <button class="btn btn-primary">Submit</button>&nbsp;
					  <button class="btn btn-default">Cancel</button>
					</div>
				 </div>
			  </div><!-- panel-footer -->

           <% end %>
		</div><!-- panel -->
        
	</div><!-- contentpanel -->
	
<script src="/js/jquery.autogrow-textarea.js"></script>
<script src="/js/bootstrap-fileupload.min.js"></script>
<script src="/js/bootstrap-timepicker.min.js"></script>
<script src="/js/jquery.tagsinput.min.js"></script>
<script src="/js/jquery.maskedinput.min.js"></script>
<script src="/js/jquery.datetimepicker.js"></script>
<script src="/js/jquery.mousewheel.js"></script>
<script src="/js/chosen.jquery.min.js"></script>
<script src="/js/dropzone.min.js"></script>
<script src="/js/colorpicker.js"></script>
<script>
  jQuery(document).ready(function() {
    
	  jQuery(".tel").mask("(999) 9999 9999");

	  jQuery('.address').autogrow();

	  //jQuery('.datepicker').datepicker({ dateFormat: 'dd-mm-yy' });
 	  //jQuery('.timepicker').timepicker({showMeridian: false});
	  
	  $('.datepicker').datetimepicker().datetimepicker({value:"<%= DateTime.now.strftime("%Y/%m/%e %H:%M")%>",step:5});
	  

	  jQuery('.auction-type-tags').tagsInput({	  
		  width:'auto', autocomplete_url:'/auctions/auction_type.json'
	  });
	  
	  jQuery('.auction-option-tags').tagsInput({	  
		  width:'auto', autocomplete_url:'/auctions/auction_option.json'
	  });
	  
	  jQuery('.format-tags').tagsInput({	  
		  width:'auto', autocomplete_url:'/auctions/format.json'
	  });
	  
	  jQuery('.form-factor-tags').tagsInput({	  
		  width:'auto', autocomplete_url:'/auctions/form_factor.json'
	  });
	  
	  jQuery('.time-share-tags').tagsInput({	  
		  width:'auto', autocomplete_url:'/auctions/time_share.json'
	  });
	  
	  jQuery('.grade-tags').tagsInput({	  
		  width:'auto', autocomplete_url:'/auctions/grade.json'
	  });
	  
	  jQuery('.period-tags').tagsInput({	  
		  width:'auto', autocomplete_url:'/auctions/period.json'
	  });
	  
  });
</script>
<% end %>