<% content_for :content do %>
  <link rel="stylesheet" href="/css/jquery.tagsinput.css" />
    <div class="pageheader">
      <h2><i class="fa fa-edit"></i> Create Product</h2>
      <div class="breadcrumb-wrapper">
        <span class="label">You are here:</span>
        <ol class="breadcrumb">
          <li><a href="index.html">SmartAds</a></li>
          <li class="active">Create Product</li>
        </ol>
      </div>
    </div>
    
    <div class="contentpanel">
        <div class="panel-heading">
          <div class="panel-btns">
            <a href="#" class="panel-close">&times;</a>
            <a href="#" class="minimize">&minus;</a>
          </div>
          <h4 class="panel-title">Create Form</h4>
          <p>Please field in all the below blanks for creating a new product.</p>
        </div>
		<div class="panel panel-default">
			 <div class="panel-body panel-body-nopadding">
				 <% if @product.errors.any? %>
			   <div class="alert alert-danger">
				<% @product.errors.full_messages.each do |msg| %><%= msg %><br/>
				    <% end %>
				</div>
				<% end %>
				<%= form_for(@product, :as => :product, :html => {:class => "form-horizontal form-bordered"}, :url => product_path(@product)) do |f| %>
	         
	            <div class="form-group">
	              <label class="col-sm-3 control-label">Name</label>
	              <div class="col-sm-4">
					<%= f.text_field :name, :class => "form-control", placeholder: "Product Name"%>
	              </div>
	            </div>
	            <div class="form-group">
	              <label class="col-sm-3 control-label">Price</label>
	              <div class="col-sm-4">
					<%= f.text_field :price, :class => "form-control", placeholder: "Product Price"%>
	              </div>
	            </div>

	            <div class="form-group">
	              <label class="col-sm-3 control-label">Duration</label>
	              <div class="col-sm-4">
					<%= f.text_field :duration, :class => "form-control", placeholder: "No. of Month(s)"%>
	              </div>
	            </div>
	            <div class="form-group">
	              <label class="col-sm-3 control-label">Expiry Date</label>
	              <div class="col-sm-4 input-group">
					<%= f.text_field :expiry_date, :class => "form-control datepicker", placeholder: 'mm/dd/yyyy'%>
					<span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
	              </div>
	            </div>
	            <div class="form-group">
	              <label class="col-sm-3 control-label">Start Date</label>
	              <div class="col-sm-4 input-group">
					<%= f.text_field :start_at, :class => "form-control datepicker", placeholder: 'mm/dd/yyyy'%>
					<span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
	              </div>
	            </div>
                <div class="form-group">
                  <label class="col-sm-3 control-label">Product Type</label>
                  <div class="col-sm-7">
 					<%= f.text_field :product_type_list, :class => "product-type-tags", placeholder: "Add tags"%>
					
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-3 control-label">Position</label>
                  <div class="col-sm-4">
                     <%= f.select(:position_id, {"Top" => 1, "Middle" => 2, "Bottom" => 3}, {}, {:class => 'form-control input-sm mb15'})%>
                  </div>
                </div>
	            <div class="form-group">
	              <label class="col-sm-3 control-label">Product Options</label>
	              <div class="col-sm-7">
					<%= f.text_field :product_option_list, :class => "form-control product-option-tags"%>
					
	              </div>
	            </div>
	            <div class="form-group">
	              <label class="col-sm-3 control-label">Descriptions</label>
	              <div class="col-sm-6">
					<%= f.text_area :description, :class => "form-control address", rows: "5", placeholder: 'Something about it'%>
	              </div>
	            </div>
                <div class="form-group">
                  <label class="col-sm-3 control-label">Format</label>
                  <div class="col-sm-7">
 					<%= f.text_field :format_list, :class => "form-control format-tags"%>
					 
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-3 control-label">Form Factor</label>
                  <div class="col-sm-7">
 					<%= f.text_field :form_factor_list, :class => "form-control form-factor-tags"%>
					 
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-3 control-label">Time Share</label>
                  <div class="col-sm-7">
 					<%= f.text_field :time_share_list, :class => "form-control time-share-tags"%>
					 
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-3 control-label">Grade</label>
                  <div class="col-sm-7">
 					<%= f.text_field :grade_list, :class => "form-control grade-tags"%>
					 
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-3 control-label">Period</label>
                  <div class="col-sm-7">
 					<%= f.text_field :period_list, :class => "form-control period-tags"%>
					 
                  </div>
                </div>
	            <div class="form-group">
	              <label class="col-sm-3 control-label">Product Picture</label>
	              <div class="col-sm-6">
	                <div class="fileupload fileupload-new" data-provides="fileupload">
	                  <div class="input-append">
	                    <div class="uneditable-input">
	                      <i class="glyphicon glyphicon-file fileupload-exists"></i>
	                      <span class="fileupload-preview"></span>
	                    </div>
	                    <span class="btn btn-default btn-file">
	                      <span class="fileupload-new">Select file</span>
	                      <span class="fileupload-exists">Change</span>
	                       <%= f.file_field :cover %>
	                    </span>
	                    <a href="general-forms.html#" class="btn btn-default fileupload-exists" data-dismiss="fileupload">Remove</a>
	                  </div>
	                </div>
	              </div>
	            </div>
	  	  	</div><!-- panel-body -->
	        <div class="panel-footer">
				 <div class="row">
					<div class="col-sm-6 col-sm-offset-3">
					  <button class="btn btn-primary">Submit</button>&nbsp;
					  <button class="btn btn-default">Cancel</button>
					</div>
				 </div>
			  </div><!-- panel-footer -->

           <% end %>
		</div><!-- panel -->
        
	</div><!-- contentpanel -->
	
<script src="/js/jquery.autogrow-textarea.js"></script>
<script src="/js/bootstrap-fileupload.min.js"></script>
<script src="/js/bootstrap-timepicker.min.js"></script>
<script src="/js/jquery.tagsinput.min.js"></script>
<script src="/js/jquery.maskedinput.min.js"></script>
<script src="/js/jquery.mousewheel.js"></script>
<script src="/js/chosen.jquery.min.js"></script>
<script src="/js/dropzone.min.js"></script>
<script src="/js/colorpicker.js"></script>
<script>
  jQuery(document).ready(function() {
    
	  jQuery(".tel").mask("(999) 9999 9999");

	  jQuery('.address').autogrow();

	  jQuery('.datepicker').datepicker({ dateFormat: 'dd-mm-yy' });
	  

	  jQuery('.product-type-tags').tagsInput({	  
		  width:'auto', autocomplete_url:'/products/product_type.json'
	  });
	  
	  jQuery('.product-option-tags').tagsInput({	  
		  width:'auto', autocomplete_url:'/products/product_option.json'
	  });
	  
	  jQuery('.format-tags').tagsInput({	  
		  width:'auto', autocomplete_url:'/products/format.json'
	  });
	  
	  jQuery('.form-factor-tags').tagsInput({	  
		  width:'auto', autocomplete_url:'/products/form_factor.json'
	  });
	  
	  jQuery('.time-share-tags').tagsInput({	  
		  width:'auto', autocomplete_url:'/products/time_share.json'
	  });
	  
	  jQuery('.grade-tags').tagsInput({	  
		  width:'auto', autocomplete_url:'/products/grade.json'
	  });
	  
	  jQuery('.period-tags').tagsInput({	  
		  width:'auto', autocomplete_url:'/products/period.json'
	  });
	  
  });
</script>
<% end %>